<mat-drawer-container>

  <mat-drawer [mode]="filterMode$ | async" [opened]="filterOpened$ | async" position="end" disableClose>
    <app-filter [filter]="filter"></app-filter>
  </mat-drawer>

  <mat-drawer-content fxLayout="column" [style.padding]="margin">

    <app-toolbar [titulo]="titulo" [ngClass]="getElevation()"></app-toolbar>
    <mat-divider *ngIf="!margin"></mat-divider>

    <div id="table-container" fxLayout="column" fxFlex [style.margin-top]="margin" [ngClass]="getElevation()">
      <mat-progress-bar *ngIf="loading$ | async" mode="indeterminate"></mat-progress-bar>
      <app-table fxFlex [table]="table"></app-table>
      <mat-divider></mat-divider>
      <app-paginator></app-paginator>
    </div>

  </mat-drawer-content>

</mat-drawer-container>