:host {
  display: block;
  height: 100%;
}

.mat-drawer-container {
  height: 100%;
}

.mat-drawer {
  min-width: 320px;
  max-width: 100%;
}

#table-container {
  position: relative;
}

app-table {
  z-index: 300;
}

#spinner-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 200;
  background-color: rgb(white, 0.7);
}

#outro-container {
  overflow: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
