<mat-drawer-container>
  <mat-drawer mode="side" [opened]="opened" position="end" disableClose>
    <mat-toolbar>
      <h3>Filtros</h3>
      <div fxFlex></div>
      <button mat-icon-button matTooltip="Fechar" (click)="opened = false">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>

    <mat-divider></mat-divider>

    <div id="filter-container">
      <ng-template appFilter></ng-template>
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar>

      <ng-container *ngIf="!pesquisando">
        <span>{{ titulo }}</span>
        <div fxFlex></div>
      </ng-container>

      <app-search fxFlex (openedChange)="pesquisando = $event"></app-search>

      <ng-container *ngIf="!pesquisando">
        <button mat-icon-button matTooltip="Atualizar" (click)="refresh()">
          <mat-icon>refresh</mat-icon>
        </button>

        <button mat-icon-button matTooltip="Filtros" (click)="opened = true" [disabled]="opened">
          <mat-icon>tune</mat-icon>
        </button>
      </ng-container>

    </mat-toolbar>

    <mat-divider></mat-divider>

    <div id="table-container">

      <ng-container *ngIf="loading$ | async">
        <div id="spinner-container" fxLayoutAlign="center center">
          <mat-spinner></mat-spinner>
        </div>
      </ng-container>

      <div id="table">
        <ng-template appTable></ng-template>
      </div>
    </div>

    <mat-divider></mat-divider>

    <mat-paginator [length]="length$ | async" [pageSize]="pageSize$ | async" [pageIndex]="pageIndex$ | async"
      (page)="onPage($event)">
    </mat-paginator>
  </mat-drawer-content>
</mat-drawer-container>